# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
ENV/
env/
.env

# Streamlit logs/cache
.streamlit/
app_log.log

# Large Datasets (Required for local training, should be hosted in S3 for Cloud)
data/Fake.csv
data/True.csv
data/news.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Operating System Files
.DS_Store
Thumbs.db
