# Python Core
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
venv/
ENV/
env/
python/

# AWS Elastic Beanstalk
.elasticbeanstalk/

# Datasets & Large Files
data/*.csv
data/*.xlsx
data/*.json

# Model Artifacts (Optional: Some keep them in Git, but usually ignored if large)
# model/*.pkl

# Streamlit
.streamlit/

# Jupyter Notebooks
.ipynb_checkpoints/
notebooks/*.ipynb

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
.devcontainer/

# Project Specific Unwanted Files
api.py
Dockerfile
project_walkthrough.md
walkthrough.md
*log.txt
*.log
